In [1]:
# text file with car Num as TS XX A-Z XXXX , # of seats , # of bags
import random
import string
file=open("cabdata.txt","w+")
file.write('CarNum,numofseats,numofbags,type,When\n')
typ=['SUV','Hatchback','Sedan']
whn=['Now','Later']
num=['one','two','three','four','five','six','seven','eight']
for i in range(1000):
    
    file.write('TS '+str(random.randint(1,100))+" "+ random.choice(string.ascii_uppercase) + random.choice(string.ascii_uppercase) +" "+ str(random.randint(1,10))+ str(random.randint(1,10))+ str(random.randint(1,10))+ str(random.randint(1,10))+","+str(random.randint(2,8))+","+str(random.choice(num))+","+random.choice(typ)+","+random.choice(whn)+'\n')
    
file.close()

In [2]:
import pandas as pd
df=pd.read_csv("cabdata.txt")
df

              CarNum  numofseats numofbags       type   When
0       TS 7 LZ 5485           5       two      Sedan  Later
1      TS 21 RF 6837           8       six      Sedan    Now
2     TS 70 YU 91810           5      four  Hatchback  Later
3      TS 50 IJ 4982           2       one      Sedan    Now
4      TS 53 AA 6871           4      four        SUV    Now
5      TS 78 YE 3358           4     seven        SUV  Later
6      TS 81 QV 4782           3       six        SUV    Now
7     TS 89 XH 25108           7       two  Hatchback  Later
8      TS 51 KI 8377           7     seven      Sedan    Now
9     TS 33 NN 35101           8     eight      Sedan  Later
10      TS 3 DM 8558           7       six        SUV  Later
11    TS 65 OE 75101           7     eight  Hatchback    Now
12    TS 78 EQ 10396           5     seven      Sedan  Later
13     TS 82 UK 8257           4       two  Hatchback  Later
14     TS 72 ZW 9667           5     seven      Sedan  Later
15     TS 58 WM 2265           8      five      Sedan  Later
16     TS 97 OY 7182           5     seven        SUV  Later
17     TS 94 LA 2272           4       six  Hatchback    Now
18     TS 41 RG 7125           2      four  Hatchback  Later
19    TS 62 KY 61076           6       two      Sedan  Later
20     TS 91 XG 8212           2      five        SUV    Now
21      TS 7 VL 6887           8       one      Sedan    Now
22     TS 75 SG 6566           4     seven        SUV    Now
23     TS 56 VD 8587           8     seven  Hatchback    Now
24   TS 100 OX 36105           3       six  Hatchback  Later
25     TS 90 UA 3639           4       two        SUV  Later
26     TS 82 UU 8379           3      four      Sedan  Later
27    TS 66 YJ 10187           5     three  Hatchback  Later
28     TS 94 AI 7982           3     seven      Sedan  Later
29     TS 57 AH 4974           3     three      Sedan    Now
..               ...         ...       ...        ...    ...
970    TS 91 FQ 6727           2     eight  Hatchback  Later
971  TS 56 KY 104610           5     three      Sedan    Now
972   TS 97 DW 12105           2       one  Hatchback  Later
973     TS 7 DE 4664           5       six        SUV    Now
974    TS 35 AY 5588           8      four        SUV  Later
975    TS 40 JR 7515           3     eight        SUV    Now
976  TS 94 FW 610310           5     seven        SUV  Later
977     TS 3 GT 9118           4       one      Sedan  Later
978    TS 39 KB 3792           4       two  Hatchback  Later
979    TS 26 EY 2997           6      five        SUV  Later
980     TS 4 NC 4464           2       two      Sedan  Later
981    TS 71 QN 4545           4     seven        SUV  Later
982   TS 40 TW 34710           6       two  Hatchback  Later
983    TS 73 ZY 6538           6       two      Sedan    Now
984    TS 67 TN 7635           8     eight  Hatchback    Now
985    TS 76 FH 1455           7      five        SUV    Now
986    TS 94 UY 4113           4     three      Sedan    Now
987    TS 60 IS 9687           3     eight        SUV    Now
988    TS 76 TO 6462           7     three  Hatchback  Later
989   TS 78 QI 10978           7     seven  Hatchback    Now
990    TS 5 WK 10877           8      four      Sedan  Later
991    TS 28 SJ 4315           7       one  Hatchback    Now
992    TS 69 SU 5839           4     seven        SUV  Later
993    TS 15 JF 2512           5      four      Sedan    Now
994    TS 34 BB 5528           2       one      Sedan  Later
995   TS 50 TJ 27210           7     three        SUV  Later
996    TS 56 DM 5755           8      five        SUV    Now
997   TS 93 OJ 10165           5       one      Sedan  Later
998    TS 20 LV 1768           6      four      Sedan  Later
999    TS 26 VT 4128           6       one  Hatchback    Now

[1000 rows x 5 columns]

In [6]:
x=df[(df['numofseats'] == 6) & (df['numofbags'] == 'one') & (df['type']=='Hatchback')&(df['When']=='Now')]
x=x.to_dict(orient='list')
x

{'CarNum': ['TS 63 GD 38110', 'TS 46 MD 5551', 'TS 26 VT 4128'],
 'When': ['Now', 'Now', 'Now'],
 'numofbags': ['one', 'one', 'one'],
 'numofseats': [6, 6, 6],
 'type': ['Hatchback', 'Hatchback', 'Hatchback']}

In [7]:
try:
    print(x['CarNum'][0])
except:
    print("No car")

TS 63 GD 38110